.footerContainer{
    width : 75%;
    height : auto;
    display: inline-block;
}

.copyright{
    float:left;
    color: #6A6A6A;
    margin-right: 32%;
}

.accessCounter{
    float:left;
    color: #191E24;
}

.proposalBtn{
    float: right;
    color: #191E24;
}
.proposalBtn a{
    text-decoration: none;
    color: #191E24;;
}
.proposalBtn a:visited{
    text-decoration: none;
    color: #191E24;
}
