@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    overflow-x: hidden;
	line-height: 1;
}

/**/
body{
    font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
    text-decoration: none;
}
.title{
    margin-top: 5.5vh;
    width : 100vw;
    height : 120px;
}
.dsgmTitleImg{
    width : 52vw;
    height : auto;
}
.mobileHeaderContainer{
    position: absolute;
    display: inline-block;
}
.mobileHeaderContainerClick{
    position: absolute;
    display: inline-block;
    width: 335px;
    height: 31px;
}
.mobileHeaderImg{
    width: 335px;
    height: auto;
}
.tabmenuContainer{
    
    width : 100vw;
    height: 87px;
}
.tabButton{
    width : 20vw;
    height:87px;
    float: left;
}
.dropdown{
    width : 20vw;
    float:left;
}
.dropButton{
    width : 20vw;
    height:87px;
}
.dropdown-content{
    padding-top: 10px;
    padding-bottom: 10px;
    display : none;
    width : 15vw;
    background-color: #191E24;
    z-index: 999;

    background: #FFFFFF;
    border: 0.3px solid #241E19;
    box-sizing: border-box;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 9px rgba(0, 0, 0, 0.1);
    border-radius: 14px 18px 14px 14px;
    color: black;
    text-align: center;
}
.dropdown-content a{
    margin-top: 0;
    width: 90%;
    border: 0px solid;
    border-radius: 6px;
    display : inline-block;
    text-decoration : none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: black;
}
.dropdown-hr{
    border: 0.5px solid rgba(203, 203, 203, 0.7);
    width: 90%;
}
.dropdown-content a:hover{
    background: #F7F8FA;
}
.dropdown:hover .dropdown-content {
    margin-top: 200px;
    position: fixed;
    display: block;
}
.checkerInfoContainer{
    display: inline-block;
    width: 75vw;
    background-color: white;
}
.checkerInfoContainerMobile{
    display: inline-block;
    width: 335px;
    background-color: white;
}
.checkerInfoMobile{
    margin-top: 20px;
    margin-bottom: 19px;
    width: 195px;
}
.loadingContainer{
    padding-top: 139px;
    padding-bottom: 159px;
    display: inline-block;
    text-align: center;
    width : 75vw;
    height : auto;
    background: #F7F8FA;
}
.loadingContainerMobile{
    padding-top: 78px;
    padding-bottom: 81.15px;
    display: inline-block;
    text-align: center;
    width : 335px;
    height : auto;
    background: #F7F8FA;
}
.mailTextContainer{
    display: inline-block;
    text-align: left;
    width : 65vw;
    height : auto;
    padding : 5vw 5vw 5vw 5vw;
    background: #F7F8FA;
    font-size: 18px;
    line-height: 32px;
/* identical to box height */
    color: #191E24;
}
.checkerInfoAndTexts{
    display: inline-block;
    width: 335px;
    margin-top: 30px;
}
.mailTextContainerMobile{
    display: inline-block;
    text-align: left;
    width : 306px;
    height : auto;
    padding : 30px 14px 31px 15px;
    background: #F7F8FA;
    font-size: 10px;
    line-height: 23px;
/* identical to box height */
    color: #191E24;
}
.hideCheckcer{
    display: none;
}
.buttonContainer{
    margin-top: 24px;
    margin-left: 12vw;
    margin-bottom: 66px;
    display: flex;
    justify-content: space-between;
    width : 75%;
    height : 6.9%;
}
.functionBtn{
    width : 32%;
    height : 100%;
    line-height: 65px;
    float : left;
    background: #191E24;
    border-radius: 25px;
    color : white;
    font-weight: 800;
    font-size: 24px;
}
#copyBtn{
    width : 32%;
    height : 100%;
    line-height: 65px;
    float : left;
    background: #14B390;
    border-radius: 27px;
    color : white;
    font-weight: 800;
    font-size: 24px;
}
#copyBtn:hover{
    background: #BDFFBF;
}

.buttonContainer div:hover{
    background: gray;
}
.copy_text{
    position:absolute;
    top:-9999em;
}
.hideTextArea{
    display: none;
}
.showTextArea{
    margin-top: 100px;
    width: 500px;
    height: 100px;
}
.green_text{
    color: #FFC700;
}
.red_text{
    color: #ED635E;
}
.blue_text{
    color: #55ABE4;
}
.violet_text{
    color: #A341EF;
}
