body{
    text-align: center;
}
.title{
    width : 100vw;
    height : 120px;
    line-height: 120px;
    background: #C4C4C4;
}
.tabmenuContainer{
    margin-top: 59px;
    margin-bottom : 75px; 
    width : 100vw;
    height: 87px;
}
.tabButton{
    width : 20vw;
    height:87px;
    float: left;
}
.dropdown{
    width : 20vw;
    float:left;
}
.dropButton{
    width : 20vw;
    height:87px;
}
.dropdown-content{
    display : none;
    position : absolute;
    width : 20vw;
    background-color: #f9f9f9;
}
.dropdown-content a{
    display : block;
    text-decoration : none;
    font-size: 12px;
    padding : 12px 20px;
}
.dropdown-content a:hover{
    background-color : #ececec
}
.dropdown:hover .dropdown-content {
    display: block;
}
.mailTextContainer{
    display: inline-block;
    text-align: left;
    width : 96vw;
    height : auto;
    padding : 44px 37px 27px 31px;
    background: #EAEAEA;
}
.buttonContainer{
    display: flex;
    justify-content: space-around;
    width : 100%;
    height : 65px;
}
.buttonContainer div{
    width : 33vw;
    height : 65px;
    line-height: 65px;
    float : left;
    background: #000000;
    color : white;
}
.buttonContainer div:hover{
    background: gray;
}
.copy_text{
    position:absolute;
    top:-9999em;
}
.hideTextArea{
    display: none;
}
.showTextArea{
    margin-top: 100px;
    width: 500px;
    height: 100px;
}