@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body{
    font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
    text-decoration: none;
}
.title{
    margin-top: 5.5vh;
    width : 100vw;
    height : 120px;
}
.dsgmTitleImg{
    width : 52vw;
    height : auto;
}
.tabmenuContainer{
    
    width : 100vw;
    height: 87px;
}
.tabButton{
    width : 20vw;
    height:87px;
    float: left;
}
.dropdown{
    width : 20vw;
    float:left;
}
.dropButton{
    width : 20vw;
    height:87px;
}
.dropdown-content{
    display : none;
    position : absolute;
    width : 15vw;
    background-color: #191E24;
}
.dropdown-content a{
    display : block;
    text-decoration : none;
    font-size: 12px;
    /*padding : 12px 20px;*/
}
.dropdown-content a:hover{
    background-color : gray;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*
.tabBarContainer{
    display: inline-block;
    width: 75%;
}
.menuTabBar{
    width: 100%;
}*/
.mailTextContainer{
    display: inline-block;
    text-align: left;
    width : 65%;
    height : auto;
    /*padding : 76px 97px 65px 97px;*/
    padding : 5% 5% 5% 5%;
    background: #F7F8FA;
    font-size: 18px;
    line-height: 32px;
/* identical to box height */
    color: #191E24;
}
.buttonContainer{
    margin-top: 24px;
    margin-left: 12vw;
    margin-bottom: 66px;
    display: flex;
    justify-content: space-between;
    width : 75%;
    height : 6.9%;
}
.functionBtn{
    width : 32%;
    height : 100%;
    line-height: 65px;
    float : left;
    background: #191E24;
    border-radius: 27px;
    color : white;
    font-weight: 800;
    font-size: 24px;
}
#copyBtn{
    width : 32%;
    height : 100%;
    line-height: 65px;
    float : left;
    background: #14B390;
    border-radius: 27px;
    color : white;
    font-weight: 800;
    font-size: 24px;
}
#copyBtn:hover{
    background: #BDFFBF;
}

.buttonContainer div:hover{
    background: gray;
}
.copy_text{
    position:absolute;
    top:-9999em;
}
.hideTextArea{
    display: none;
}
.showTextArea{
    margin-top: 100px;
    width: 500px;
    height: 100px;
}